<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441416228547-1tj1d10ip1rmn386som5t2qoei2pkedu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441416228547-1tj1d10ip1rmn386som5t2qoei2pkedu</string>
	<key>API_KEY</key>
	<string>AIzaSyAMSyivP9AJ6WLpCaSU3AyJrRKMk5nNETA</string>
	<key>GCM_SENDER_ID</key>
	<string>441416228547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alcopinion</string>
	<key>PROJECT_ID</key>
	<string>alcopinion</string>
	<key>STORAGE_BUCKET</key>
	<string>alcopinion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441416228547:ios:f2c8856935e8897e22cc76</string>
</dict>
</plist>